{% extends "layouts/base.html" %}

{% block head %}
    <title>Timeline</title>
    <style>
        .event {
            font-size: 100px;
            border: 1px solid black
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Project POO Calendar</h2>
                <!--Notes input form, textarea supports multiple lines of input  -->
        <form method="POST" ID="create" action={{url_for('calendar.create')}}>
            <table style="width:100%">
                <tr>
                    <th><label for="content">Sunday</label></th>
                    <th><label for="content">Monday</label></th>
                    <th><label for="content">Tuesday</label></th>
                    <th><label for="content">Wednesday</label></th>
                    <th><label for="content">Thursday</label></th>
                    <th><label for="content">Friday</label></th>
                    <th><label for="content">Saturday</label></th>
                </tr>
                <tr>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content" id="content" required></textarea></td>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content2" id="content2" required></textarea></td>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content3" id="content3" required></textarea></td>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content4" id="content4" required></textarea></td>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content5" id="content5" required></textarea></td>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content6" id="content6" required></textarea></td>
                    <td><textarea style="width: 100px" rows="5" cols="100%" name="content7" id="content7" required></textarea></td>
                    <td><input type="submit" value="Add" ></td>
                </tr>
                    </table>
                </form>
                <tr>
                    {% for content in calendar %}
                        <td><br>{{ content.content | safe }}<br></td>
                        <td><br>{{ content.content2 | safe }}<br></td>
                        <td><br>{{ content.content3 | safe }}<br></td>
                        <td><br>{{ content.content4 | safe }}<br></td>
                        <td><br>{{ content.content5 | safe }}<br></td>
                        <td><br>{{ content.content6 | safe }}<br></td>
                        <td><br>{{ content.content7 | safe }}<br></td>
                        </tr>
                    {% endfor %}
                 </table>
{% endblock %}

