{% extends "layouts/base.html" %}

{% block title %}
<title>Timeline</title>
{% endblock %}

{% block body %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">SQL Notes Page</span>
    </header>
</div>
<div class="container py-4 text-light bg-success">
    <div class="container bg-secondary py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Timeline</h2>
            <hr>
            <!--Notes input form, textarea supports multiple lines of input  -->
            <form method="POST" ID="create" action={{url_for('timeline.create')}}>
                <table class="table">
                    <thead>
                    <tr>
                        <th><label for="content">Post something:</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><textarea rows="5" cols="100%" name="content" id="content" required></textarea></td>
                        <td><input type="submit" value="Add" ></td>
                    </tr>
                    <label for="access">Do you want your post to be public or private?</label>
                    <select name="access" id="access">
                        <option value="0">Private</option>
                        <option value="1">Public</option>
                    </select>
                </table>
            </form>
            <hr>
            <!--Notes output area, Jinja lines iterate through notes,
                note.note is html converted from markdown -->
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {% for content in timeline %}
                    <tr>
                        <td>{{ content.content | safe }}<br><br>{{ user_by_id(content.userID).name | safe }}<br>{{ content.timestamp | safe }}<br>{{"private" if content.access == 0}}{{"public" if content.access == 1}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}